<blockquote class="quote"> 
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores veniam voluptatibus soluta. Obcaecati facere distinctio adipisci tempora iure quidem.</p>
</blockquote>

<div class="media">
 <div class="media__image">
     <svg class="icon icon--primary quote__line">
         <use xlink:href="images/sprite.svg#line"></use>
     </svg>
     </div>
 <div class="media__body">
     <h3 class="media__title quote-author">John Q. Public</h3>
     <p class="quote__organization">ABC Inc </p>
 